---
import BaseLayout from "../../layouts/base.astro";
import MetadataDl from "../../components/MetadataDl.astro";
import DocumentViewer from "../../components/DocumentViewer.astro";
import Icon from "../../components/Icon.astro";
import { records } from "../../dataset.mjs";

export async function getStaticPaths() {
  const paths = records.map((record, index, array) => ({
    params: { trial_id: record.ID },
    props: {
      record: record,
      prev: array[index - 1]?.ID,
      next: array[index + 1]?.ID,
    },
  }));

  return paths;
}

const { record, prev, next } = Astro.props;
---

<BaseLayout>
  <nav>
    {prev ? (
      <a href={`${Astro.site.pathname}trials/${prev}/`}>
        <Icon name="caret-left" />
      </a>
    ) : (
      <a>
        <Icon name="caret-left" />
      </a>
    )}
    {next ? (
      <a href={`${Astro.site.pathname}trials/${next}/`}>
        <Icon name="caret-right" />
      </a>
    ) : (
      <a>
        <Icon name="caret-right" />
      </a>
    )}
  </nav>

  <MetadataDl {record} />

  <DocumentViewer {record} />

  {() => {
    if (record["trial_locations"].length) {
      return (
        <div id="map"></div>
        <script type="module" hoist>await import("./trial-maps.mjs")</script>
      );
    }
  }}

  {() => {
    if (import.meta.env.DEV) {
      return (
        <details>
          <summary style="box-sizing: content-box;">debug</summary>
          <pre>{JSON.stringify(record, null, 2)}</pre>
        </details>
      );
    }
  }}
</BaseLayout>

<style>
  nav {
    display: flex;
    gap: var(--size-2);
    justify-content: flex-end;
    text-align: right;

    a {
      background-color: var(--surface-3);
      border-radius: var(--radius-2);
      border: 1px solid transparent;
      color: var(--text-1);
      float: left;
      margin-left: 2px;
      padding: 4px 8px;
      position: relative;
      text-decoration: none;

      &[href] {
        background-color: var(--palette-2);

        &:hover {
          background-color: var(--palette-4);

          :global(svg) {
            fill: var(--palette-8);
          }
        }
      }
    }
  }

  #map {
    height: 400px;
    border-radius: var(--radius-2);
  }
</style><style is:global>
  @import "leaflet/dist/leaflet.css";
  @import "../../styles/leaflet-overrides.css";
</style>
