---
import BaseLayout from "@layouts/base.astro";
import Icon from "@components/Icon.astro";

import fs from "node:fs";

const title = "Bibliography";

/* Since we don't want to render Bibliography.md to HTML exactly as is,
 *  we're going to parse it line by line and render the limited markup
 *  by hand here.
 */

const renderStrong = (text) => {
  return text
    .split("**")
    .map((part, i) => {
      if (i % 2 === 0) return part;
      return `<strong>${part}</strong>`;
    })
    .join("");
};

const renderEmphasis = (text) => {
  return text
    .split("*")
    .map((part, i) => {
      if (i % 2 === 0) return part;
      return `<em>${part}</em>`;
    })
    .join("");
};

const renderSuperscript = (text) => {
  return text
    .split("^")
    .map((part, i) => {
      if (i % 2 === 0) return part;
      return `<sup>${part}</sup>`;
    })
    .join("");
};

const renderMarkdown = (text) => {
  text = renderStrong(text);
  text = renderEmphasis(text);
  text = renderSuperscript(text);
  return text;
};

const fileContents = fs.readFileSync("src/documents/Bibliography.md", "utf-8");

const bibliography = [];

let currentInitial: string;
fileContents.split(/\r?\n/).forEach((line) => {
  if (line === "") return;
  let initial: string | boolean = line.match(/^(?:[\W]*)(\w)/)[1];
  if (initial === currentInitial) {
    initial = false;
  } else {
    currentInitial = initial;
  }
  bibliography.push([initial, renderMarkdown(line.replace(/^-\s*/, ""))]);
});
---

<BaseLayout {title}>
  <header>
    <h2 class="page-heading"><Icon name="books" />Bibliography</h2>
  </header>
  <section class="jumplinks">
    {
      bibliography
        .map(([initial, _]) => initial)
        .filter((initial) => initial)
        .map((initial) => <a href={`#${initial}`} set:text={initial} />)
    }
  </section>
  <section class="bibliography">
    <ul>
      {
        bibliography.map(([initial, item]) => (
          <li id={initial} set:html={item} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<script>
  (() => {
    const jumplinks = document.querySelector(".jumplinks");
    const sections = document.querySelectorAll(".bibliography li[id]");
    const fudgeFactor = 5;

    window.onscroll = () => {
      const scrollPos =
        document.documentElement.scrollTop || document.body.scrollTop;
      sections.forEach((section) => {
        if (
          section.offsetTop -
            parseInt(getComputedStyle(section)["scroll-margin-top"], 10) -
            fudgeFactor <=
          scrollPos
        ) {
          jumplinks.querySelector(".active")?.classList.remove("active");
          jumplinks
            .querySelector(`[href*=${section.id}]`)
            .classList.add("active");
        }
      });
    };
  })();
</script>

<style>
  section.jumplinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    background: var(--surface-1);
    z-index: 2;
    top: 0;
    padding: 1em 0;
    margin-top: calc((var(--size-fluid-2) + 1em) * -1);

    a {
      display: block;
      width: var(--size-fluid-4);
      text-align: center;
      transition: all 0.2s ease-in-out;

      &.active,
      &:hover {
        background-color: var(--palette-0);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0 var(--size-fluid-2);
    margin: 0 0 var(--size-fluid-4);

    :global(li) {
      margin: 0 0 var(--size-fluid-2);
      text-indent: -4vw;
      padding-left: 4vw;
      font-size: var(--font-size-3);

      &[id]:not(:first-child) {
        border-top: 1px solid var(--palette-1);
        margin-top: var(--size-fluid-4);
        padding-top: var(--size-fluid-4);
      }
    }

    :global(strong) {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--palette-8);
      font-size: var(--font-size-3);
    }

    :global(sup) {
      font-size: var(--font-size-0);
    }
  }
</style>
