---
import BaseLayout from "../layouts/base.astro";
import Icon from "../components/Icon.astro";
import "../../node_modules/simple-datatables/dist/style.css";
import "./trials-datatable.css"; // overrides for simple-datatables styles

import { records } from "../dataset.mjs";

const tags = {};
records.forEach((record) =>
  record.Tags?.split("; ").forEach((tag) => {
    if (!tag) return;
    if (tag in tags) {
      tags[tag].push(record.ID);
    } else {
      tags[tag] = [record.ID];
    }
  }),
);
---

<BaseLayout bodyClass="trials">
  <!-- anything bundled by Astro is injected into the head, regardless of whether
       it's in <noscript/> or not, so we're using a static external stylesheet here :( -->
  <noscript><link rel="stylesheet" href="/nojs.css" /></noscript>

  <section class="tags">
    <header>Top 10 Tags ({Object.keys(tags).length} total)</header>
    <div>
      {Object.entries(tags)
        .sort(([, a], [, b]) => b.length - a.length)
        .slice(0, 10)
        .map(([tag, ids]) => (
          <span class="pill" data-records={ids.join(",")}>
            {tag} ({ids.length})
          </span>
        ))}
    </div>
  </section>

  <table id="trials" style="display:none;">
    <span id="prev"><Icon name="caret-left" /></span>
    <span id="next"><Icon name="caret-right" /></span>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name on Document</th>
        <th>Date (Y/M/D)</th>
        <th>Trial Location</th>
      </tr>
    </thead>
    <tbody>
      {records.map((record) => (
        <tr data-row-id={record.ID}>
          <td>
            <a href={`${Astro.site.pathname}trials/${record.ID}/`}>
              {record.ID}
            </a>
          </td>
          <td>{record["Name on Document"]}</td>
          <td>{record["Date (Y/M/D)"]}</td>
          <td>{record["Trial Location"]}</td>
        </tr>
      ))}
    </tbody>
  </table>

  {() => {
    if (import.meta.env.DEV) {
      return (
        <details>
          <summary style="box-sizing: content-box;">debug</summary>
          <pre>{JSON.stringify(tags, null, 2)}</pre>
        </details>
      );
    }
  }}

  <script type="module" hoist>await import("./trials.mjs");</script>
</BaseLayout>

<style>
  #trials {
    transition: opacity 500ms ease;
  }

  tbody tr:hover {
    background-color: var(--palette-0);
  }

  span#prev,
  span#next {
    display: none;
  }

  .tags {
    background-color: var(--palette-0);
    border-radius: var(--radius-2);
    padding: var(--size-4) var(--size-5);
  }

  .tags div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
  }
</style>
